<div class="center hero-unit">
  <h1>Bienvenido a Gesti&oacute;n de Proyectos</h1>

  <h2>
    En esta aplicaci&oacute;n puede gestionar <%= link_to "Contratos", contratos_path%> y <%= link_to "Solicitudes de Servicio", sol_servicios_path%>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>