<% provide(:title, 'Solicitud de Servicios') %>
<h1>Solicitud de Servicios</h1>

<ul class="users">
	<!--Le podemos pasar @user que ya sabe que tiene que ir al partial _user y que es por cada elemento de @users!! -->
	<%= render @solserv %>
</ul>

